################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OC-DescribeAndCleanData/.vs/OC-DescribeAndCleanData/v16
